UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2FlMTk2Mjg1YWEwM2M1NjdmMTI2MGI5MzU1N2VhMzVhYjliNGJhZTI2NDI3ZmJjYmE5MGUwY2ExOGUxNjU0NTIiLCJhcHBJZCI6IjZxY2JzZXVsYTEiLCJyZWdpb25zIjpbInNlYTEiXX0='
DATABASE_URL="postgresql://postgres:randompassword@localhost:5432/fileupload?schema=public"